*{
    font-family: 'Calibri';
    background-color: whitesmoke;
}
  
h3 address{
    font-size: 14px;
    padding: 1px 10px 10px;
    text-align: center;
}

h1{
    text-align: center;
}

h2, h3, h4{
    text-align: center;
}

.skills-for-bills{
    text-align: center;
}

.skills-for-bills h2{
    margin-left:34px;
}

@media screen and (min-width: 760px){
    
    h2, h3, h4{
        text-align: left;
    }

    .skills-for-bills,
    .skills-for-bills ul{
        text-align: center;
        list-style-type: none;
    }

    .skills-for-bills h2{
        text-align:center;
    }

}